body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}

.title-underlined{
    border-bottom: 1px solid #ccc;
}

.containermodal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    opacity: 0.8;
    background: #000000 
                url('images/flyingdots.gif') 
                50% 50% 
                no-repeat;
}